/** coded by Eunji *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(133,212,255,1) 65%, rgba(0,160,193,1) 100%);
} */
.container {
  max-width: 780px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin:auto;
}
.container h2{
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.form-content {
    max-height: 60vh; 
    overflow-y: auto; 
    padding:0 3% 0 3%;
}

.form-textarea {
  width: 100%;
  position: relative;
  outline: none;
  font-size: 1rem;

  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding:15px;
}

.container .form {
  margin-top: 50px;
}
.form .input-box, .file-upload {
  width: 100%;
  margin-top: 20px;
}
.input-box label, .housing-box label, .file-upload label {
  color: #333;
}




.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* Style the file input label (the "Choose File" text) */
.file-upload input[type="file"] {
 
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 0.8rem;
  color: #707070;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  padding: 15px 15px;
}

.file-upload {
  border: 1px solid #e6e5e5ee;
  padding: 20px;
  
}

.income-upload, .reason-box {
  font-size:0.8rem;
  margin-top: 8px;
  border-top:1px solid rgb(216, 215, 215);
  padding-top:5px;

}

.income-upload label, .reason-box label{

  color: #02383B;

}

.income-phrase {
  accent-color: #5b8da8;
}



.income-phrase input[type="radio"] {
  width: 0.9rem;
  height: 0.9rem;
}

/* Style the radio label */
.income-phrase .radio-label {
  font-size: 0.8rem; 
  color: #333; 
}






.file-upload-phrase {
  margin-top: 6px;
  font-size: 0.7rem;
}



.form .column {
  display: flex;
  column-gap: 15px;
}
.form .housing-box {
  margin-top: 20px;
}
.housing-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.housing-option, .program-option, .privacy{
    margin-top:20px;
    font-size: 0.9rem;
}



.form :where(.housing-option, .housing, .program-option) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  row-gap:10px;
  flex-wrap: wrap;
}
.form .housing, .program {
  column-gap: 5px;
}
.housing, .program, .privacy input {
  accent-color: #5b8da8;
}
.form :where(.housing, .program input, .housing, .program label) {
  cursor: pointer;
}
.housing label {
  color: #707070;
}

.program label{
    color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button[type="button"] {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #5b8da8;
}
.form button[type="button"]:hover {
  background: #8cbad3;
}


::placeholder {
    color: #c5c5c5; 
  }


#additional-members-container {

  border: 1px solid #686868;
  display: none;
  padding: 0 20px 10px 20px;
  
  }


  .additional-member-template{

    padding-top:20px;
  }
  @media screen and (min-width: 768px){
    
  .container {
    padding: 5% 3% 5%;
  }

  .log-in-container {
    padding: 7% 3% 7%;
  }

  #admin-login-form .input-box{
    width: 60%;
    margin: 8px auto 3px;
  
  }
  

  .submission-success-message{
    padding:10% 15% 10%;
    text-align: center;
    margin: 5% 0 5%;
  }

  #searchVolunteerReference {
    width: 30%;

  }

  }
 

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.housing-option, .housing, .program) {
    row-gap: 15px;
  }

  .log-in-container {
    padding: 35% 5% 35%;
  }

 
  .signup-phrase {
    font-size: 0.8rem;
   }
   
   #searchVolunteerReference {
    width: 100%;
    
  }


}


.remove-member-button {
  display: none;
}


  .other-housing-situation, .other-source {
    border: none; 
    border-bottom: 0.7px solid #bdbcbc; 
    outline: none; 
    padding: 4px; 
  }

.additional-note {
  margin-bottom:20px;
}

.privacy {
    margin-top: 5%;
    padding: 20px;
}
.privacy h3{
    text-align: center;
}

.center-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;

}

.privacy-right li {
    list-style-type: disc;
    margin: 0 5% 0 7%;
}

.privacy-body{
    padding: 3% 2% 5%;
    font-size: 0.8rem;
    color:#707070;
}

.checkbox-text {
  margin-left: 8px; 
}



/***submit button***/
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 215px;
  cursor: pointer;
}
.btn-container {
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text inside the button */
  margin-top: 20px; /* Adjust margin-top as needed */
  width: 100%; /* Ensure the container takes the full width */
}



.btn-submit, .btn-login {
  content: '';
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  letter-spacing: 2px;
}
.btn-submit span, .btn-login span {
  transition: all 0.3s;
}
.btn-submit::before, .btn-login::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-submit:hover span, .btn-login:hover span {
  content: '';
  color: black;
}
.btn-submit:hover::before, .btn-login:hover::before {
  color: black;
  opacity: 1; 
  transform: scale(1, 1); 
  
}
.btn-submit::after {
  border-radius: 25px 25px 0 25px;
  content: 'SUBMIT';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.951);
}

.btn-login::after {
  border-radius: 25px 25px 0 25px;
  content: 'LOG IN';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.951);
}


.btn-submit:hover::after, .btn-login:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}





/**submitSuccess.php **********/


.submission-success-message{
  padding:10% 15% 10%;
  text-align: center;
  margin: 5% 0 5%;
}

.btn-gohome {
  content: '';
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  letter-spacing: 2px;
}
.btn-gohome span {
  transition: all 0.3s;
}
.btn-gohome::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-gohome:hover span {
  content: '';
  color: black;
}
.btn-gohome:hover::before {
  color: black;
  opacity: 1; 
  transform: scale(1, 1); 
  
}
.btn-gohome::after {
  border-radius: 25px 25px 0 25px;
  content: 'GO HOME';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.951);
}
.btn-gohome:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}


.btn-goevent {
  content: '';
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  letter-spacing: 2px;
}
.btn-goevent span {
  transition: all 0.3s;
}
.btn-goevent::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-goevent:hover span {
  content: '';
  color: black;
}
.btn-goevent:hover::before {
  color: black;
  opacity: 1; 
  transform: scale(1, 1); 
  
}
.btn-goevent::after {
  border-radius: 25px 25px 0 25px;
  content: 'Go to event.php';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.951);
}
.btn-goevent:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}





.thankyou-name, .success-phrase {
  margin-bottom:5%;
}


.reference-box {
  border: 1px solid #686868;
  padding: 5% 2% 5%;
  margin: 7%;

}

.reference-phrase {
  font-size: 1.2rem;
  margin-top: 5%;;
}

.reference-reason{
  font-size:0.8rem;
  margin-top: 4%;
}



.consent-box {
  border: 1px solid rgb(179, 179, 179);
    padding: 10px;
}

.error-message {
  margin-top:6px;
}

/* mark collapsable menu */

.menu {
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.menu-title {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menu-content {
  padding: 10px;
  display: none;
  padding-left: 30px;
  padding-right: 30px;
}

.icon {
  float: right;
}

/* Style for the expanded menu */
.menu.active .menu-content {
  display: block;
}






.signup-box{
  margin-top: 13px;
  font-size: 0.9rem;
  text-align: center;
}

.signup-box a{
  color: #02383B;

}
.underline-text {
  text-decoration: underline;
}

.underline-text:hover {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signup_admin{
  background: #fff; 
  border-radius: 5px;
  padding: 16px 25px;
  max-width: 90%;
  margin: auto;
}


#volunteerEmailSearch {
  background: #fff; 
  border-radius: 5px;
  padding: 16px 25px;
  width: 320px;
  height: 360px;

}



#partnerReferenceResult {
  margin-top:12px;
  cursor: pointer;
}


.signup-h2 {
  padding: 20px 0 20px;
}

#volunteerEmailResult{
   margin-top: 5px;
}


#volunteerQueryResult{
   background: #fff;
    border-radius: 5px;
    padding: 16px 25px;
    width: 588px;
}

#pw_not_matched {
  margin-top: 15px;
}

.pw-eye {
  position: absolute;
  top: 45%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
  width:16px;
}

.password-container{
  position: relative;
}

#password-strength, #password-length, .password-requirement {
  font-size: 0.7rem;
}


