/** coded by Eunji *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(133,212,255,1) 65%, rgba(0,160,193,1) 100%);
} */
.container {
  max-width: 780px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin:auto;
}
.container h2{
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.form-content {
    max-height: 60vh; 
    overflow-y: auto; 
    padding:0 3% 0 3%;
}

.form-textarea {
  width: 100%;
  position: relative;
  outline: none;
  font-size: 1rem;

  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding:15px;
}

.container .form {
  margin-top: 50px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label, .housing-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .housing-box {
  margin-top: 20px;
}
.housing-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.housing-option, .program-option, .privacy{
    margin-top:20px;
    font-size: 0.9rem;
}



.form :where(.housing-option, .housing, .program-option) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  row-gap:10px;
  flex-wrap: wrap;
}
.form .housing, .program {
  column-gap: 5px;
}
.housing, .program, .privacy input {
  accent-color: #5b8da8;
}
.form :where(.housing, .program input, .housing, .program label) {
  cursor: pointer;
}
.housing label {
  color: #707070;
}

.program label{
    color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button[type="button"] {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #5b8da8;
}
.form button[type="button"]:hover {
  background: #85D4FF;
}


::placeholder {
    color: #c5c5c5; 
  }


#additional-members-container {

  border: 1px solid #686868;
    padding: 20px;
  
  }
  @media screen and (min-width: 768px){
    
  .container {
    padding: 5% 0 5%;
  }


  .submission-success-message{
    padding:10% 15% 10%;
    text-align: center;
    margin: 5% 0 5%;
  }

  }
 

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.housing-option, .housing, .program) {
    row-gap: 15px;
  }
  

}



.remove-member-button {
  display: none;
}


  .other-housing-situation, .other-source {
    border: none; 
    border-bottom: 0.7px solid #bdbcbc; 
    outline: none; 
    padding: 4px; 
  }

.privacy {
    margin-top: 5%;
    border: 1px solid #686868;
    padding: 20px;
}
.privacy h3{
    text-align: center;
}

.center-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;

}

.privacy-right li {
    list-style-type: disc;
    margin: 0 5% 0 7%;
}

.privacy-body{
    padding: 3% 2% 5%;
    text-indent: 3%;
    font-size: 0.8rem;
    color:#707070;
}

.checkbox-text {
  margin-left: 8px; 
}



/***submit button***/
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 215px;
  cursor: pointer;
}
.btn-container {
  position: relative;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text inside the button */
  margin-top: 20px; /* Adjust margin-top as needed */
  width: 100%; /* Ensure the container takes the full width */
}



.btn-submit {
  content: '';
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  letter-spacing: 2px;
}
.btn-submit span {
  transition: all 0.3s;
}
.btn-submit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-submit:hover span {
  content: '';
  color: black;
}
.btn-submit:hover::before {
  color: black;
  opacity: 1; 
  transform: scale(1, 1); 
  
}
.btn-submit::after {
  border-radius: 25px 25px 0 25px;
  content: 'SUBMIT';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.951);
}
.btn-submit:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}





/**submitSuccess.php **********/


.submission-success-message{
  padding:10% 15% 10%;
  text-align: center;
  margin: 5% 0 5%;
}

.btn-gohome {
  content: '';
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  letter-spacing: 2px;
}
.btn-gohome span {
  transition: all 0.3s;
}
.btn-gohome::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
}
.btn-gohome:hover span {
  content: '';
  color: black;
}
.btn-gohome:hover::before {
  color: black;
  opacity: 1; 
  transform: scale(1, 1); 
  
}
.btn-gohome::after {
  border-radius: 25px 25px 0 25px;
  content: 'GO HOME';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.951);
}
.btn-gohome:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.thankyou-name, .success-phrase {
  margin-bottom:5%;
}


.reference-box {
  border: 1px solid #686868;
  padding: 5% 0 5%;
  margin: 7%;

}

.reference-phrase {
  font-size: 1.2rem;
  margin-top: 5%;;
}

.reference-reason{
  font-size:0.8rem;
  margin-top: 4%;
}