.newsSection {
    margin: 175px;
    background-color: #f8f8f8;
}

.newsTitleSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.newsTitle {
    padding: 20px;
    text-align: left;
}

.newsTitleImage {
    max-width: 100%;
    height: auto;
}

.newsTitle h2 {
    padding: 20px;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
}

.newsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 100%;
    overflow-x: auto;
    padding: 50px;
    box-sizing: border-box;
}

.newsCard img {
    max-width: 55%;
    height: auto;
    display: block;
    padding: 20px;
}

.newsCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsDescription {
    margin-top: 10px;
    font-size: 16px;
    padding: 10px;
}

.read-more-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.read-more-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #58a5f8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.read-more-button a:hover {
    background-color: #0059b9;
}

@media (max-width: 767px) {
    .newsSection {
        margin: 20px;
    }

    .newsTitleSection {
        grid-template-columns: 1fr;
    }

    .newsTitle {
        padding: 10px;
        text-align: center;
    }

    .newsGrid {
        grid-template-columns: 1fr; 
        padding: 20px;
        gap: 20px; 
    }

    .newsCard img {
        width: 100%;
        padding: 10px; 
    }

    .newsDescription {
        font-size: 14px;
        padding: 10px;
    }
}