
.privacypolicy h2,
.privacypolicy h3 {
    padding: 20px 50px 10px 50px;
}

.privacypolicy ul,
.privacypolicy li {
    padding: 0px 50px 0px 50px;
}

.privacypolicy p {
    padding: 0px 50px 20px 50px;
}

.privacypolicy {
    background-color: #f2f2f2;
}