h2,
h3 {
    padding: 20px 50px 10px 50px;
}

ul,
li {
    padding: 0px 50px 0px 50px;
}

p {
    padding: 0px 50px 2px 50px;
}

footer{
    margin-top: 30px;
}

body {
    background-color: #f2f2f2;
}
